/* Sidebar.css */
.sidebar-container {
    font-family: "Noto Sans JP", sans-serif;
    width: 235px;
    /* Adjusted width for the slightly bigger sidebar */
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    /* Single column layout for smaller sidebar */
    grid-template-rows: auto 1fr auto;
    background-color: #11101d;
    border-right: 1px solid #e2e8f0;
  }
  .sidebar-logo-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }
  
  .sidebar-logo {
    width: 80%; /* Adjust the width as needed */
  
    height: auto;
  }
  .sidebar-logo img {
    display: block;
    margin: 0 auto; /* Center the image horizontally */
  }
  
  .sidebar-menu {
    display: grid;
    grid-auto-rows: min-content;
  }
  
  .sidebar-menu-item {
    text-decoration: none;
    
    display: flex;
    align-items: center;
    padding: 0.75rem;
    margin-bottom: 0.25rem;
    color: #ffffff;
    border-radius: 0.375rem;
    transition: background-color 0.2s ease-in-out;
    margin-left: 0.25rem;
    /* Added margin on the left of the text */
    margin-right: 0.25rem;
  }
  
  .sidebar-menu-item:hover {
    background-color: #1d1b31;
  }
  
  .sidebar-menu-item .icon {
    width: 24px;
    height: 24px;
    margin-right: 0rem;
  }
  .iconF{
    width: 15px;
    height: 15px;
    margin-right: 0.5rem;
  
  }
  
  
  .sidebar-menu-item .text {
    font-size: 1rem;
    font-weight: 500;
  
    padding: 0.5rem;
  }
  
  
  .sidebar-bottom {
    background-color:  #1d1b31; 
    display: flex;
    flex-direction: column;
    align-items: start;
   
  }
  
  .sidebar-menu-item-last {
    display: flex;
    align-items: center;
  }
  
  .sidebar-menu-item-last .icon {
    margin-right: 10px; /* Space between icon and text */
    font-size: 1.5rem; /* Adjust icon size */
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align text to the left */
  }
  
  .user-name {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .user-role {
    font-size: 0.8rem;
    color: #888;
    margin-top: -5px; /* Optional: Adjust space between name and role */
  }
  
  
  .sidebar-menu-item-last {
    margin-top: auto;
  }
  /* Add these styles to your Sidebar.css file */
  
  /* Sub-menu styles */
  .sub-menu {
    list-style-type: none;
    padding-left: 0;
  }
  
  .sub-menu li {
    margin-left: 1rem; /* Adjust the margin as needed */
  }
  
  .sub-menu li a {
    display: block;
    padding: 0.5rem;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  .sub-menu li a:hover {
    background-color: #1d1b31;
  }
  .arrow{
    margin-left: auto;
  }